@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--color-bg-dark);
        color: var(--color-white);
    }
    .bg-theme {
        background-color: var(--color-bg-dark);
    }
    h1,h2,h3,h4,h5,h6 {
        color: var(--color-lightblue);
    }
    .h1,.h2,.h3,.h4,.h5,.h6 {
        color: var(--color-lightblue);
    }
    .card {
        background-color: var(--color-bg-card);
        color: var(--color-white);
        .card-title {
            color: var(--color-nieuws);
        }
    }
    .bg-light {
        background-color: var(--color-bg-card) !important;
        color: var(--color-white);
    }
    a {
        color: var(--color-hyperlink-dark);
    }
    .table {
        color: var(--color-white);
        background-color: unset !important;
        >:not(caption)>*>* {
            color: unset !important;
            background-color: unset !important;
        }
    }
    #toggleButton {
        border-color: var(--color-white) !important;
        color: var(--color-white) !important;
    }
    .list-group {
        color: var(--color-white);
        background-color: unset !important;
        .list-group-item {
            color: var(--color-white);
            background-color: unset !important;
        }
    }
    .btn-primary {
        background-color: var(--color-lightblue) !important;
        border-color: var(--color-lightblue) !important;
        color: var(--color-black) !important;
        &:hover,:focus {
            background-color: darken(#64D6EB, 20%) !important;
            border-color: darken(#64D6EB, 20%) !important;
        }
    }
    .btn-outline-secondary {
        border-color: var(--color-white) !important;
        color: var(--color-white) !important;
    }
    
  }