:root {
    --color-theme-primary: #154666;
    --color-theme-secondary: #492929;
    --color-white: #ffffff;
    --color-nieuws: #F6CA83;
    --color-reportage: #4685AE;
    --color-interview: #C46868;
    --color-achtergrond: #7B9F93;
    --color-hyperlink: #3B815D;
}
$colornieuws: var(--color-nieuws);
@font-face {
    font-family: 'ErnestineWebW03';
    src: url('../fonts/ErnestineWebW03-Bold.woff2') format('woff2'),
        url('../fonts/ErnestineWebW03-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    scroll-behavior: smooth;
}
h1,h2,h3,h4,h5,h6 {
    color: var(--color-theme-secondary);
    font-family: 'ErnestineWebW03';
    font-weight: bold;
    font-style: normal;
}
.navbar-brand {
    font-family: 'ErnestineWebW03';
    font-weight: bold;
    font-style: normal;
}
.bg-theme {
    background-color: var(--color-theme-primary);
}
.card {
    border: unset;
    h2 {
        color: var(--color-theme-primary);
    }
    ul {
        li {
            border-left: none;
            border-right: none;
            background-color: unset;
            &:last-child {
                border-bottom: none;
            }
        }
    }
}
.btn {
    border-radius: calc(infinity * 1px);
}
.legenda {
    font-size: .9em;
    .nieuws {
        border-left: 8px solid var(--color-nieuws);
        padding: 0 1em 0 .25em;
    }
    .interview {
        border-left: 8px solid var(--color-interview);
        padding: 0 1em 0 .25em;
    }
    .reportage {
        border-left: 8px solid var(--color-reportage);
        padding: 0 1em 0 .25em;
    }
    .achtergrond {
        border-left: 8px solid var(--color-achtergrond);
        padding: 0 1em 0 .25em;
    }
}
a {
    transition: 200ms;
    color: var(--color-hyperlink);
    &:hover,:focus {
        text-decoration: none;
    }
}
header {
    &.bg-theme {
        a {
            color: var(--color-white);
            &:hover,:focus {
                text-decoration: none;
            }
        }
        .btn-theme {
            background-color: var(--color-nieuws);
            border-color: var(--color-nieuws);
            color: var(--color-theme-secondary);
            &:hover,:focus {
                background-color: darken(#F6CA83, 20%);
                border-color: darken(#F6CA83, 20%);
            }
        }
    }
}