@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap");
:root {
  --color-theme-primary: #154666;
  --color-theme-secondary: #7a2b2b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-nieuws: #F2CB65;
  --color-reportage: #44687D;
  --color-interview: #AC1A2E;
  --color-achtergrond: #619079;
  --color-newcategory: #674ea7;
  --color-hyperlink: #527A67;
  --color-bg-dark: #0b192f;
  --color-bg-card: #172a45;
  --color-lightblue: #64D6EB;
  --color-hyperlink-dark:#64EB91;
}

body {
  scroll-behavior: smooth;
  background-color: #f9fafb;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-theme-secondary);
  font-family: "Alegreya", serif;
  font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--color-theme-secondary);
  font-family: "Alegreya", serif;
  font-style: normal;
}

nav.navbar {
  border-bottom: 4px solid #123b56;
}
nav.navbar.navbar-dark .navbar-brand {
  font-family: "Alegreya", serif;
  color: var(--color-white);
  font-style: normal;
}
nav.navbar.navbar-dark .navbar-brand img {
  height: 20px;
  filter: invert(100%);
}
nav.navbar.navbar-dark .navbar-nav .nav-item {
  padding: 0 0.75em 0 0;
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: var(--color-white);
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover, nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link :focus {
  color: var(--color-nieuws);
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:has(i):hover, nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:has(i) :focus {
  color: var(--color-nieuws);
  text-decoration: none;
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
  color: var(--color-nieuws);
}

.bg-theme {
  background-color: var(--color-theme-primary);
}

.card {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-ring-shadow, 0 0 rgba(0, 0, 0, 0)), var(--tw-shadow);
  border: 1px solid #f3f4f6;
}
.card h2 {
  color: var(--color-theme-primary);
}
.card .list-group-flush .list-group-item {
  border-left: none;
  border-right: none;
  background-color: unset;
}
.card .list-group-flush .list-group-item:last-child {
  border-bottom: none;
}
.card summary {
  padding: 0.25em 0;
  font-weight: bold;
}
.card summary::marker {
  color: var(--color-theme-secondary);
}
.card.bg-achtergrond .card-title {
  color: var(--color-achtergrond);
}
.card.bg-nieuws .card-title {
  color: var(--color-nieuws);
}
.card.bg-interview .card-title {
  color: var(--color-interview);
}
.card.bg-reportage .card-title {
  color: var(--color-reportage);
}

@media (min-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
.btn {
  border-radius: calc(infinity * 1px);
}
.btn.btn-resize {
  border-radius: 0;
}
.btn.darkmode {
  width: 42px;
  height: 42px;
}

.legenda {
  font-size: 0.9em;
}
.legenda .nieuws {
  border-left: 8px solid var(--color-nieuws);
  padding: 0 1em 0 0.25em;
}
.legenda .interview {
  border-left: 8px solid var(--color-interview);
  padding: 0 1em 0 0.25em;
}
.legenda .reportage {
  border-left: 8px solid var(--color-reportage);
  padding: 0 1em 0 0.25em;
}
.legenda .achtergrond {
  border-left: 8px solid var(--color-achtergrond);
  padding: 0 1em 0 0.25em;
}

a {
  transition: 200ms;
  color: var(--color-hyperlink);
}
a:hover, a :focus {
  text-decoration: none;
}

header {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='16.5' height='32.877' patternTransform='scale(2) rotate(10)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(204, 66%, 24%, 1)'/><path d='M-5 2l5 10L5 2zm16.5 0l5 10 5-10zM8.25 4.438l-5 10h10zm-5 14l5 10.001 5-10zM0 20.878l-5 10H5zm16.5 0l-5 10h10z'  stroke-width='0.5' stroke='hsla(206, 44%, 40%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-1.508)' fill='url(%23a)'/></svg>");
}
header.bg-theme a {
  color: var(--color-white);
}
header.bg-theme a:hover, header.bg-theme a :focus {
  text-decoration: none;
}
header.bg-theme .btn-theme {
  background-color: var(--color-nieuws);
  border-color: var(--color-nieuws);
  color: var(--color-theme-secondary);
}
header.bg-theme .btn-theme:hover, header.bg-theme .btn-theme :focus {
  background-color: #dea613;
  border-color: #dea613;
  color: var(--color-black);
}
header img {
  height: 48px;
  filter: invert(100%);
}

.btn-primary {
  background-color: var(--color-theme-primary);
  border-color: var(--color-theme-primary);
  color: white;
}
.btn-primary:hover, .btn-primary :focus {
  background-color: #040c11;
  border-color: #040c11;
}

/* wrapped */
.wrapped {
  background-color: var(--color-theme-primary);
}
.wrapped h1, .wrapped h2, .wrapped h3, .wrapped h4, .wrapped h5, .wrapped h6 {
  color: var(--color-white);
}
.wrapped .card {
  color: var(--bs-card-color);
}
.wrapped .card h1, .wrapped .card h2, .wrapped .card h3, .wrapped .card h4, .wrapped .card h5, .wrapped .card h6 {
  color: var(--color-theme-primary);
}
.wrapped #stats {
  color: var(--color-white);
}/*# sourceMappingURL=style.css.map */