:root {
  --color-theme-primary: #154666;
  --color-theme-secondary: #7a2b2b;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-nieuws: #F2CB65;
  --color-reportage: #44687D;
  --color-interview: #AC1A2E;
  --color-achtergrond: #619079;
  --color-newcategory: #674ea7;
  --color-hyperlink: #527A67;
  --color-bg-dark: #0b192f;
  --color-bg-card: #172a45;
  --color-lightblue: #64D6EB;
  --color-hyperlink-dark:#64EB91;
}

@font-face {
  font-family: "ErnestineWebW03";
  src: url("../fonts/ErnestineWebW03-Bold.woff2") format("woff2"), url("../fonts/ErnestineWebW03-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-theme-secondary);
  font-family: "ErnestineWebW03";
  font-weight: bold;
  font-style: normal;
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  color: var(--color-theme-secondary);
  font-family: "ErnestineWebW03";
  font-weight: bold;
  font-style: normal;
}

nav.navbar {
  border-bottom: 4px solid #123b56;
}
nav.navbar.navbar-dark .navbar-brand {
  font-family: "ErnestineWebW03";
  color: var(--color-white);
  font-weight: bold;
  font-style: normal;
}
nav.navbar.navbar-dark .navbar-nav .nav-item {
  padding: 0 0.75em 0 0;
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link {
  color: var(--color-white);
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:hover, nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link :focus {
  color: var(--color-nieuws);
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:has(i):hover, nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link:has(i) :focus {
  color: var(--color-nieuws);
  text-decoration: none;
}
nav.navbar.navbar-dark .navbar-nav .nav-item .nav-link.active {
  color: var(--color-nieuws);
}

.bg-theme {
  background-color: var(--color-theme-primary);
}

.card {
  border: unset;
}
.card h2 {
  color: var(--color-theme-primary);
}
.card .list-group-flush .list-group-item {
  border-left: none;
  border-right: none;
  background-color: unset;
}
.card .list-group-flush .list-group-item:last-child {
  border-bottom: none;
}
.card summary {
  padding: 0.25em 0;
  font-weight: bold;
}
.card summary::marker {
  color: var(--color-theme-secondary);
}
.card.bg-achtergrond .card-title {
  color: var(--color-achtergrond);
}
.card.bg-nieuws .card-title {
  color: var(--color-nieuws);
}
.card.bg-interview .card-title {
  color: var(--color-interview);
}
.card.bg-reportage .card-title {
  color: var(--color-reportage);
}

@media (min-width: 767px) {
  .mobile-hide {
    display: none;
  }
}
.btn {
  border-radius: calc(infinity * 1px);
}
.btn.btn-resize {
  border-radius: 0;
}

.legenda {
  font-size: 0.9em;
}
.legenda .nieuws {
  border-left: 8px solid var(--color-nieuws);
  padding: 0 1em 0 0.25em;
}
.legenda .interview {
  border-left: 8px solid var(--color-interview);
  padding: 0 1em 0 0.25em;
}
.legenda .reportage {
  border-left: 8px solid var(--color-reportage);
  padding: 0 1em 0 0.25em;
}
.legenda .achtergrond {
  border-left: 8px solid var(--color-achtergrond);
  padding: 0 1em 0 0.25em;
}

a {
  transition: 200ms;
  color: var(--color-hyperlink);
}
a:hover, a :focus {
  text-decoration: none;
}

header {
  background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='16.5' height='32.877' patternTransform='scale(2) rotate(10)'><rect x='0' y='0' width='100%' height='100%' fill='hsla(204, 66%, 24%, 1)'/><path d='M-5 2l5 10L5 2zm16.5 0l5 10 5-10zM8.25 4.438l-5 10h10zm-5 14l5 10.001 5-10zM0 20.878l-5 10H5zm16.5 0l-5 10h10z'  stroke-width='0.5' stroke='hsla(206, 44%, 40%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,-1.508)' fill='url(%23a)'/></svg>");
}
header.bg-theme a {
  color: var(--color-white);
}
header.bg-theme a:hover, header.bg-theme a :focus {
  text-decoration: none;
}
header.bg-theme .btn-theme {
  background-color: var(--color-nieuws);
  border-color: var(--color-nieuws);
  color: var(--color-theme-secondary);
}
header.bg-theme .btn-theme:hover, header.bg-theme .btn-theme :focus {
  background-color: #dea613;
  border-color: #dea613;
  color: var(--color-black);
}

.btn-primary {
  background-color: var(--color-theme-primary);
  border-color: var(--color-theme-primary);
  color: white;
}
.btn-primary:hover, .btn-primary :focus {
  background-color: #040c11;
  border-color: #040c11;
}

/* gridview */
.gridview .grid .episode {
  display: flex;
  width: 2.5em;
  height: 2.5em;
  justify-content: center;
  align-items: center;
  margin: 0.1em;
}
.gridview .grid .episode.nieuws {
  background-color: var(--color-nieuws);
}
.gridview .grid .episode.nieuws .duration {
  color: var(--color-black);
}
.gridview .grid .episode.achtergrond {
  background-color: var(--color-achtergrond);
}
.gridview .grid .episode.achtergrond .duration {
  color: var(--color-white);
}
.gridview .grid .episode.reportage {
  background-color: var(--color-reportage);
}
.gridview .grid .episode.reportage .duration {
  color: var(--color-white);
}
.gridview .grid .episode.interview {
  background-color: var(--color-interview);
}
.gridview .grid .episode.interview .duration {
  color: var(--color-white);
}

/* darkmode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-bg-dark);
    color: var(--color-white);
  }
  .bg-theme {
    background-color: var(--color-bg-dark);
  }
  h1, h2, h3, h4, h5, h6 {
    color: var(--color-lightblue);
  }
  .h1, .h2, .h3, .h4, .h5, .h6 {
    color: var(--color-lightblue);
  }
  .card {
    background-color: var(--color-bg-card);
    color: var(--color-white);
  }
  .card .card-title {
    color: var(--color-nieuws);
  }
  .bg-light {
    background-color: var(--color-bg-card) !important;
    color: var(--color-white);
  }
  a {
    color: var(--color-hyperlink-dark);
  }
  .table {
    color: var(--color-white);
    background-color: unset !important;
  }
  .table > :not(caption) > * > * {
    color: unset !important;
    background-color: unset !important;
  }
  #toggleButton {
    border-color: var(--color-white) !important;
    color: var(--color-white) !important;
  }
  .list-group {
    color: var(--color-white);
    background-color: unset !important;
  }
  .list-group .list-group-item {
    color: var(--color-white);
    background-color: unset !important;
  }
  .btn-primary {
    background-color: var(--color-lightblue) !important;
    border-color: var(--color-lightblue) !important;
    color: var(--color-black) !important;
  }
  .btn-primary:hover, .btn-primary :focus {
    background-color: #1bb2ce !important;
    border-color: #1bb2ce !important;
  }
  .btn-outline-secondary {
    border-color: var(--color-white) !important;
    color: var(--color-white) !important;
  }
}/*# sourceMappingURL=style.css.map */